<div id="help">
  <table>
    <tr><td class="key">h, ?</td><td>toggle help (this)</td></tr>
    <tr><td class="key">space, &rarr;, &darr;</td><td>next slide</td></tr>
    <tr><td class="key">&lt;shift&gt;-space, &larr;, &uarr;</td><td>previous slide</td></tr>
    <tr><td class="key">&lt;shift&gt;-p</td><td>toggle pause menu</td></tr>
    <tr><td class="key">`</td><td>open/close command visor</td></tr>
    <tr><td class="key">d</td><td>toggle debug mode</td></tr>
    <tr><td class="key">c, t</td><td>table of contents (vi)</td></tr>
    <tr><td class="key">f</td><td>toggle footer</td></tr>

    <% plugin_commands.each do |command| %>
      <tr><td class="key"><%= command.input %></td><td><%= command.description %></td></tr>
    <% end %>

  </table>
</div>
