<a tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="navmenu">
  <span class="ui-icon ui-icon-triangle-1-s"></span>
</a>

<div id="navigation" class="hidden"></div>

<div class="buttonNav">
  <input class="prev" type="submit" value="prev"/>
  <input class="next" type="submit" value="next"/>
</div>